.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background: #F5C20C;
}
h1{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 112px;
  color: #F5C20C;
  text-shadow: 12px 12px #FFFFFF;
}
.sentence {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto ;
  width: 44rem;
}
.sentence h3{
  background-color:#fff;
  font-size: 2rem;
  padding: 2%;
  margin: 0.7rem 0.4rem;
  box-shadow: 3px 2px #000;
  border: #000 3px solid;
  transform: rotate(4deg);
}
.rotation{
  transform: rotate(-3deg) !important;
}
.center input{
  display: block;
  width: 22rem;
  height: 2rem;
  margin: 0.5rem ;
  padding: 0 0.3rem;
  border: #000 2px solid;
}
.center{
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}
a{
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}
